
<!--section >
    <div class="checkbox-inline" *ngFor="let genre of allgenres; let i = index">
        <--[(ngModel)] = genre.name >
        <mat-checkbox  class="left-panel_controls-item">{{genre.name}}</mat-checkbox>
        <mettre un ngif pour conditionner ce qu'on veur afficher pour chaque c>
        <div class="checkbox-inline" *ngIf="hello">
            {{genre.name}} is checked
        </div--> 
        <!--Pour revenir a la ligne apres avoir affiché 2 genres>
        <div *ngIf="ifDivisiblebyTwo(i+1)"></div>              
    </div>
</section-->