<h2 mat-dialog-title>Ajoutez un film à une liste {{data.list}}</h2>
<label for="filmname" class="film-label">Film en cours : </label>
<span id="filmname">{{data.film.title}}</span>
<hr>
<mat-dialog-content *ngIf="!ifMyListEmpty">
    <a>Veuillez sélectionner la liste</a>
    <mat-nav-list>
        <mat-list-item *ngFor="let list of _filmTraitment.lists" (click)="moveMovie(list.film)">
            <a matLine>{{ list.name }}</a>
            <button mat-icon-button >
                <mat-icon>info</mat-icon>
            </button>
        </mat-list-item>
    </mat-nav-list>

</mat-dialog-content>
<hr>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="openDialog1()">Créer une nouvelle liste
        <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button mat-dialog-close color="accent">Annuler
        <mat-icon>clear</mat-icon>
    </button>
</mat-dialog-actions>