<div class="realisateur">
    <span class="realisateur-label">Réalisateur</span> <br>
    <div class="realisateur-photo-container">
      <img src="http://image.tmdb.org/t/p/w500/{{director.profile_path}}"  alt="assets/images/no-image-icon-6.png"
           class="realisateur-photo">
    </div>
    <div class="realisateur-details">
      <span class="realisateur-name"><a >{{director.name}}</a></span><br>
      <div class="realisateur-biographie">
        {{director.biography}}
      </div>
    </div>
</div>
