<div class = "InfosPersonne">
  <div class = "personnePhoto">
    <img src="assets/images/no-image-icon-6.png" alt="assets/images/no-image-icon-6.png">
  </div>
  <div class = "personneInfo">
    <span class="personneNom">Nom:</span><br>
    <span class="personneSexe">Sexe:</span><br>
    <span class="personneBirth">Date de naissance:</span><br>
    <span class="personneBirthPace">Lieu de naissance:</span><br>
    <span class="personneDeces">Date de décès:</span><br>
    <span class="personnePopularité">Popularité:</span>
  </div>
  <div class = "biographiePersonne">
    <h2 class = "biographie">Biographie</h2>
    <div class = "biographieDetails">
      Jean-Paul Belmondo, né le 9 avril 1933 à Neuilly-sur-Seine, est un acteur français.
      Il a également été producteur de cinéma et directeur de théâtre.
    </div>
  </div>
</div>

