<div mat-dialog-content>
  <p>Donnez un nom à votre liste</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.nameList">  
  </mat-form-field>
</div>
<p>Choisir la visibilité</p>
<mat-radio-group [(ngModel)]="data.visibility">
  <mat-radio-button value="1">privée</mat-radio-button>
  <mat-radio-button value="2">publique</mat-radio-button>
</mat-radio-group>  
<br>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [mat-dialog-close]="data.nameList" cdkFocusInitial>Valider</button>
</div>