<div class="list-realisateur-container" [routerLink]="['/realisateur', realisateur.id]">
  <div class="realisateur-photo-container">
      <img src="http://image.tmdb.org/t/p/w500/{{realisateur.profile_path}}" alt="" class="photo">
  </div>

  <div class="list-realisateur-container-content">

      <div class="realisateur-head">
          <span class="realisateur-name">{{realisateur.name}}</span>       
      </div>

      <br>

      <div class="realisateur-details"  >
          <label class="label" for="item">Date de naissance : </label>
          <a class="label-value" name="item">{{realisateur.birthday}}</a><br>
          <label class="label" for="item">Lieu de naissance </label>
          <a class="label-value" name="item">{{realisateur.place_of_birth}}</a><br>
      </div>

      <label class="label" for="item">Popularité :</label>
      <a class="label-value" name="item">{{realisateur.popularity}}</a><br>
      <label class="label" for="item">Film réalisé : </label>
      <a class="label-value" name="item">{{realisateur.title_movie}}</a><br>

      <!--span class="label-value">Biographie</span>
      <div class="biography-content">
          {{realisateur.biography}}
      </div-->

  </div>
</div>
<br>

