.page-header {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 1;
}
.menu-horizontal-container {
  width: 100%;
  margin: auto;
  border-bottom: none;
}
.menu-horizontal {
  background: white;
  height: 3.5em;
  display: flex;
  padding: 8px 16px;
  color: black;
}

.logo-container {
  background: aliceblue;
  height: 55px;
  width: 96px;
  margin-right: 7%;
  text-align: center;
  line-height: 55px;
}
.menu-panel {
  float: left;
  width: 80%;
}
.menu-item {
  cursor: pointer;
  margin-right: 32px;
  font-size: medium;
}

.authentification-panel {
  float: right;
  width: 245px;
  font-size: 13px;
}
.auth-menu-item {
  margin-right: 32px;
  cursor: pointer;
}
.page-container {
  width: 100%;
  text-align: center;
  margin-top: 118px;
}

.rigth-panel {
  float: right;
  width: 75%;
  background: #e4e0e052;
  border-left: 1px solid #a5b1b1;
  padding-top: 21px;

}

/* Menu gauche */

.left-panel {
  float: left;
  width: 24%;
  height: 435px;
  margin-top: 16px;
  position: fixed;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  overflow: auto;
  padding-top: 23px;
}
.left-panel-tite {
  margin-top: 40px;
  text-align: left;
  padding-left: 37px;
  font-size: larger;
  font-weight: bold;
}

.left-panel-controls {
  height: fit-content;
  margin-top: 5px;
  text-align: left;
  padding-left: 40px;
  display: table-caption;
}

.left-panel-controls-item {
  margin: 0 10px;
}

.mat-slider {
  width: 73%;
}
.mat-slider-container {
  width: 86%;
}

/*MES LISTES*/

.list-content {
  text-align: justify;
}
.list-content :hover {
  background: #dcdce1;
}

.list-container {
  padding-left: 5px;
  width: 93%;
}
.list-item {
  cursor: pointer;
}