<!--<app-person></app-person>-->

<div class="page-header">
    <div class="menu-horizontal-container">
        <mat-toolbar class="menu-horizontal">
            <div class="menu-panel">
                <span class="logo-container">Logo</span>
                <span class="menu-item" mat-button="menuFilms">Films</span>
                <span class="menu-item" mat-button="menuFilms" routerLink="/mylist">Acteurs</span>
                <span class="menu-item" mat-button="menuFilms">Réalisateurs</span>
            </div>

            <div class="authentification-panel">
                <!--<span class="auth-menu-item" mat-button (click)="login()">Connection</span>-->
                <span class="auth-menu-item" mat-button [matMenuTriggerFor]="menuConnection">Connection</span>
                <span class="auth-menu-item" mat-button *ngIf="user() === defined">Créer un compte</span>
                <label>{{user() !== undefined ? user().displayName : ''}}</label>
            </div>
        </mat-toolbar>
        <app-research></app-research>
    </div>
</div>

<div class="page-container">

    <div class="left-panel">
        <div class="left-panel-tite">Genre</div>
        <div class="left-panel-controls">
            <section>
                <mat-checkbox  *ngFor="let option of options" class="left-panel_controls-item">{{option.label}}</mat-checkbox>
            </section>
        </div>
        <div class="left-panel-tite">Durée</div>
        <div class="mat-slider-container">
            <mat-slider
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="1000"
                    min="1"
                    max="100000">
            </mat-slider>
        </div>
    </div>

    <div class="rigth-panel">
        <router-outlet></router-outlet>
    </div>
</div>


<mat-menu #menuConnection="matMenu">
  <button mat-menu-item (click)="login()">Connection</button>
  <button mat-menu-item (click)="logout()">Deconnection</button>
</mat-menu>
