.list-view {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 500px;
}
.wait {
    height: inherit;
    margin-left: 50%;
    margin-top: 30%;
}